<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Poll ID</th>
      <th scope="col">Question</th>
      <th scope="col">Status</th>
      <th scope="col">Trigger</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let poll of pollList">
      <th scope="row">{{poll.pollID}}</th>
      <td>{{poll.pollQuestion}}</td>
      <td class="text-success">{{poll.status}}</td>
      <td><button type="button" class="btn btn-primary btn-sm" (click)="get(poll.pollID)" >Attempt</button></td>
    </tr>

  </tbody>
</table>