<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Poll ID</th>
        <th scope="col">Question</th>
        <th scope="col">Status</th>
        <th scope="col">Trigger</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Whats your plan for weekend ?</td>
        <td class="text-success">Active</td>
        <td><button type="button" class="btn btn-primary btn-sm" routerLink="/poll" >Attempt</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Which part of India would you like to visit next ?</td>
        <td class="text-info">In-active</td>
        <td><button type="button" class="btn btn-primary btn-sm" disabled>Attempt</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Which part of India would you like to visit next ?</td>
        <td class="text-warning">Pending</td>
        <td><button type="button" class="btn btn-primary btn-sm" hidden>Attempt</button></td>
      </tr>
    </tbody>
  </table>