<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Poll ID</th>
        <th scope="col">Question</th>
        <th scope="col">Option 1</th>
        <th scope="col">Option 2</th>
        <th scope="col">Option 3</th>
        <th scope="col">Option 4</th>
        <th scope="col">Status</th>
        <th scope="col">Trigger</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let polls of pollData">
        <th scope="row">{{polls.pollID}}</th>
        <td>{{polls.pollQuestion}}</td>
        <td>{{polls.optA}}</td>
        <td>{{polls.optB}}</td>
        <td>{{polls.optC}}</td>
        <td>{{polls.optD}}</td>
        <td class="text-success">{{polls.status}}</td>
        <td><button type="button" class="btn btn-primary btn-sm" >Activate</button></td>
      </tr>
      
    </tbody>
  </table>